<div>
  <mat-sidenav-container class="kl-sidenav-container">
    <mat-sidenav-content>
      <header class="ll_header bg-gray-50 shadow">
        <div class="container">
          <div class="flex items-center">
            <div class="flex items-center">
              <a class="logo" [routerLink]="['']"><img src="assets/logo_trendy.png" alt="Logo" /></a>
            </div>
          </div>
        </div>
      </header>
      
      <div>
        <div class="container">
          <div class="grid grid-cols-12 gap-8" >
            <div class="col-span-3 hidden xl:block">
              <div class="py-5 min-h-screen">
                <div class="rounded-md border overflow-hidden h-full">
                  <div class="user text-center py-10 px-5" style="background-color: #2E9084;">
                    <img class="ml-auto mr-auto" src="https://cdn-icons-png.flaticon.com/128/1177/1177568.png" alt="admin" style="width:50px;" />
                    <h4 class="text-white mt-3">ADMINISTRADOR</h4>
                  </div>
                  <mat-nav-list class="_sidenav">
                    <a
                      mat-list-item
                      routerLink="/admindashboard/profile"
                      routerLinkActive="bg-gray-200"
                      class="font-semibold text-gray-500 hover:text-primary"
                      ><mat-icon class="mr-2">account_circle</mat-icon> Perfil</a
                    >
                    <a
                      mat-list-item
                      routerLink="/admindashboard"
                      [routerLinkActiveOptions]="{ exact: true }"
                      routerLinkActive="bg-gray-200"
                      class="font-semibold text-gray-500 hover:text-primary"
                      ><mat-icon class="mr-2">how_to_reg</mat-icon> Lista de Administradores</a
                    >
                    <a
                      mat-list-item
                      routerLink="/admindashboard/company"
                      [routerLinkActiveOptions]="{ exact: true }"
                      routerLinkActive="bg-gray-200"
                      class="font-semibold text-gray-500 hover:text-primary"
                      ><mat-icon class="mr-2">book</mat-icon> Lista de Empresas</a
                    >
                    <a
                      mat-list-item
                      routerLink="/admindashboard/providers"
                      routerLinkActive="bg-gray-200"
                      class="font-semibold text-gray-500 hover:text-primary"
                      ><mat-icon class="mr-2">article</mat-icon> Lista de proveedores</a
                    >
                    <a
                      mat-list-item
                      routerLink="/admindashboard/products"
                      routerLinkActive="bg-gray-200"
                      class="font-semibold text-gray-500 hover:text-primary"
                      ><mat-icon class="mr-2">list</mat-icon> Lista de productos</a
                    >
                    
                    <a (click)="onLogout()" mat-list-item class="font-semibold text-gray-500 hover:text-primary"><mat-icon class="mr-2">logout</mat-icon> Cerrar sesión</a>
                    <a><img src="assets/logo_trendy.png" alt="Logo" /></a>
                  </mat-nav-list>
                </div>
              </div>
            </div>
            <div class="col-span-12 xl:col-span-9 py-10">
              <router-outlet></router-outlet>
            </div>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>