
<div>
	<div style="text-align: center;">
		<h1 class="mb-3 font-medium">PROVEEDORES</h1>
		
	</div>
	<div class="flex justify-between flex-wrap">
		<h2 class="mb-3 font-medium">LISTA PROVEEDORES</h2> 
		<button class=" text-black text-sm py-2 px-4 rounded font-semi bold focus:outline-none focus:shadow-outline h-10" type="button" style="background-color: #a7a0d1;"
		[routerLink]="['/authprovider/signup']" >
			Agregar 
		</button>
	</div>	
	<div class="table-inside">
		<table class="order-table table-auto ltMd:responsive">
			<thead>
				<tr class="border text-left">
					<th>
						<span class="text-gray-800">ID</span>
					</th>
					<th>
						<span class="text-gray-800">NOMBRE</span>
					</th>
					<th>
						<span class="text-gray-800">APELLIDO</span>
					</th>
	
					<th>
						<span class="text-gray-800">EMAIL</span>
					</th>
	
					<th>
						<span class="text-gray-800">USERNAME</span>
					</th>
					<th class="text-right"></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let admin of admins" class="border">
					<td>
						<a class="text-primary" href="/">#{{admin?.id}}</a>
					</td>
					<td>
						{{admin?.nombre}}
					</td>
					<td>
						<span>{{admin?.apellido}}</span>
					</td>
					
					<td class="text-right">
						<button class="action_icon__btn" mat-icon-button [matMenuTriggerFor]="menu">
							<mat-icon>more_vert</mat-icon>
						</button>
						<mat-menu #menu="matMenu" xposition="before">
							<button mat-menu-item>
								<mat-icon>dialpad</mat-icon>
								<span>Editar</span>
							</button>
							<button mat-menu-item>
								<mat-icon>delete</mat-icon>
								<span>Delete</span>
							</button>
						</mat-menu>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
