<ll-header></ll-header>
<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Product Name</th>
                            <th>Product Image</th>
                            <th>Description</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.nombreProducto}}</td>
                            <td><img style="width: 120px;" src="{{item.imagen}}" alt=""></td>
                            <td style="width: 25%;">{{item.descripcion}}</td>
                            <th style="width: 12%;">{{item.precio}}</th>
                            <td style="width: 12%;">{{item.quantity}}</td>
                            <td style="width: 12%;">{{item.total}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><mat-icon>delete_sweep</mat-icon></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                            <td><button routerLink="/products" class="btn btn-primary">Shop More</button></td>
                            <td><button class="btn btn-success">Checkout</button></td>
                            <td><strong>Grand Total : ${{total()}}</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <h1 class="card-title">CARRITO DE COMPRAS</h1>
        </div>
        <div class="center">
            <img src="https://www.letrasrecortadas.com/carritoVacio.png" alt="">
            <h1>Su carrito de compras está vacío</h1>
            <h2>Por favor retorne a la lista de productos</h2>
            <button routerLink="/products" class="btn btn-primary">Volver a la lista de productos</button>
        </div>
    </div>
</ng-container>


<ll-feature></ll-feature>