<ll-header></ll-header>
<ng-container *ngIf="products.length !=0">
    <div class="container">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Nº</th>
                            <th>Nombre del producto</th>
                            <th>Imagen del Producto</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Cantidad</th>
                            <th>Total</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{item.nombreProducto}}</td>
                            <td><img style="width: 80px;" src="{{item?.image}}" alt=""></td>
                            <td style="width: 25%;">{{item.description}}</td>
                            <th style="width: 12%;">Bs. {{item.precio}}</th>
                            <td style="width: 12%;">1</td>
                            <td style="width: 12%;">Bs. {{item.precio}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-danger"><mat-icon>delete_sweep</mat-icon></button>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4"></td>
                            <td><button (click)="emptycart()" class="btn btn-danger">Vaciar Carrito</button></td>
                            <td><button routerLink="/products" class="btn btn-primary">Ver productos</button></td>
                            <td><button (click)="confirmListProductsNotification()" class="btn btn-success">Confirmar Productos</button></td>
                            <td><h2>Total a pagar : Bs. {{total()}}</h2></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</ng-container>


<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <h1 class="card-title">CARRITO DE COMPRAS</h1>
        </div>
        <div class="center">
            <img src="https://www.letrasrecortadas.com/carritoVacio.png" alt="">
            <h1>Su carrito de compras está vacío</h1>
            <h2>Por favor retorne a la lista de productos</h2>
            <button routerLink="/products" class="btn btn-primary">Volver a la lista de productos</button>
        </div>
    </div>
</ng-container>


<ll-feature></ll-feature>