<div>
	<!-- User Start -->
	<div class="flex flex-wrap">
		<div class="flex space-x-3 rounded-md px-5 py-3 w-full sm:w-1/2" style="background-color: #2E9084;">
			<div class="w-16 h-16 rounded-full overflow-hidden shadow-md">
				<img src="https://cdn-icons-png.flaticon.com/512/219/219986.png" alt="" class="w-full h-full object-cover">
			</div>
			<div class="text-white" >
				<h5>Nombre administrador</h5>
				<p class="leading-normal text-white">
					<span class="font-medium">Email</span>: example@mail.com</p>
			</div>
		</div>
	</div>
	<!-- User End -->
	
	<!-- User Meta Start -->
	<div class="border bg-white mt-8 rounded-md">
		<div class="flex p-4 bg-gray-200">
			<h6 class="text-normal">Información</h6>
			<button class="text-blue-400 hover:text-accent ml-auto flex items-center">
				<mat-icon class="_edit_icon mr-2">edit</mat-icon>
				Editar</button>
		</div>
		<div class="flex flex-wrap p-4">
			<div class="w-full sm:w-1/2">
				<div class="ll-dataset">
					<div class="ll-dataset__label">
						Nombre:
					</div>
					<div class="ll-dataset__value">
						---
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Apellido:
					</div>
					<div class="ll-dataset__value">
						----
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Edad:
					</div>
					<div class="ll-dataset__value">
						-----
					</div>
				</div>
			</div>
			<div class="w-full sm:w-1/2 mt-4 sm:mt-0">
				<div class="ll-dataset">
					<div class="ll-dataset__label">
						Email:
					</div>
					<div class="ll-dataset__value">
						-----
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Username:
					</div>
					<div class="ll-dataset__value">
						----
					</div>
				</div>
				<div class="ll-dataset mt-4">
					<div class="ll-dataset__label">
						Tipo:
					</div>
					<div class="ll-dataset__value">
						Administrador del Sistema
					</div>
				</div>				
			</div>
		</div>
	</div>
	<!-- User Meta End -->
</div>
