<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="payment.component.scss">
</head>

<ll-header></ll-header>

<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">3</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Product name</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">$12</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Second product</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">$8</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Third item</h6>
            <small class="text-muted">Brief description</small>
          </div>
          <span class="text-muted">$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between bg-light">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small>EXAMPLECODE</small>
          </div>
          <span class="text-success">-$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total (USD)</span>
          <strong>$20</strong>
        </li>
      </ul>
    </div>

    <div class="col-md-8 order-md-1">
      <h1 class="mb-3">Completar Transacción</h1>

      <form [formGroup]="datosUsuario">
        <div class="row">
          <div class="col-md-6 mb-2">
            <label for="nombre" class="form-label" style="font-size: 18px;">Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre" disabled/>
          </div>
          <div class="col-md-6 mb-3">
            <label for="apellido" class="form-label" style="font-size: 18px;">Apellido</label>
            <input type="text" class="form-control" id="apellido" formControlName="apellido"  disabled/>
          </div>
        </div>
        <div class="mb-3">
          <label for="correoElectronico" class="form-label" style="font-size: 18px;">Correo Electrónico</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="email" class="form-control" id="correoElectronico" placeholder="correo electrónico"  formControlName="correoElectronico" disabled/>
          </div>
        </div>
        <div class="mb-3">
          <label for="number" class="form-label" style="font-size: 18px;">Edad </label>
          <input type="number" class="form-control" id="age" placeholder="edad" min="21" max="65" formControlName="edad" disabled/>
        </div>
      </form>

      
        <div class="mb-3">
          <label for="username" class="form-label" style="font-size: 18px;">Dirección de Envío</label>
          <div class="input-group">
            <input type="text" class="form-control" id="address" placeholder="Dirección" disabled/>
            <div class="input-group-prepend">
              <span class="input-group-btn">
                <button (click)="advanceSearchExpanded = !advanceSearchExpanded" mat-button style="background-color:#cc9751;"><mat-icon>edit</mat-icon> Modificar</button>
              </span>
            </div>
          </div>

          <mat-expansion-panel [expanded]="advanceSearchExpanded">
          <form [formGroup]="datosDireccion">
            <div class="mb-3">
              <br>
              <label for="address2" class="form-label">Dirección Nueva </label>
              <input type="text" class="form-control" id="address2" placeholder="Nueva dirección" />
            </div>
            <div class="row">
              <div class="col-md-5 mb-3">
                <label for="country" class="form-label">Ciudad</label>
                <select class="form-select d-block w-100" id="city">
                  <option value="1">La Paz</option>
                  <option value="2">Santa Cruz</option>
                  <option value="3">Cochabamba</option>
                  <option value="4">Sucre</option>
                  <option value="5">Oruro</option>
                  <option value="6">Tarija</option>
                  <option value="7">Potosí</option>
                  <option value="8">Beni</option>
                  <option value="9">Pando</option>
                </select>
              </div>
              <div class="col-md-4 mb-3">
                <label for="number" class="form-label">Teléfono</label>
                <input type="text" class="form-control" id="code" placeholder="" />
              </div>
              <div class="col-md-3 mb-3">
                <label for="zip" class="form-label">Código postal</label>
                <input type="text" class="form-control" id="code" placeholder="" />
              </div>
            </div>
          </form>
          </mat-expansion-panel>
        </div>
       
        <form novalidate (ngSubmit)="createToken()" [formGroup]="stripeTest">
          <h4 class="mb-3">Informacion de pago</h4>
          <div class="mb-3">
            <ngx-stripe-card
            [options]="cardOptions"
            [elementsOptions]="elementsOptions"
            ></ngx-stripe-card>
          </div>
          <button class="btn btn-dark px-4 rounded-pill"type="submit">CREATE TOKEN</button>
        </form>
    </div>
  </div>
</div>
</section>

<ll-feature></ll-feature>