<div style="text-align: center;">
  <h1 class="mb-3 font-medium">PROVEEDORES</h1>
  <h2 class="mb-3 font-medium">{{administrator.nombre}} {{administrator.apellido}}</h2>

</div>
<div class="grid grid-cols-12 gap-4 lg:gap-8">


  <div class="col-span-6 md:col-span-4 border rounded px-4 lg:px-8 py-8 lg:py-16">
	<img src="https://cdn-icons-png.flaticon.com/512/3309/3309960.png" alt="Logo" class="center" />
	<br>
    <h4 style="text-align:center;">PRODUCTOS MÁS VENDIDOS POR CIUDADES</h4>
    <div class="count mb-3 mt-5" style="text-align:center;">Productos más vendidos por ciudades estadísticamente</div>
    <a
      class="button"
      mat-flat-button color="accent"
      routerLink="/providerdashboard/chart-by-city"
    >Ver</a>
  </div> 
</div>



