
      <div class="login rounded-md mx-auto border p-4 sm:p-8 xl:p-20">
        <form [formGroup]="newProductForm" (ngSubmit)="addNewProduct(newProductForm.value)">
          <h1 class="text-2xl font-bold">AGREGAR CARACTERÍSTICAS AL PRODUCTO</h1>
          <div class="mb-4 mt-6">
            <label class="block text-gray-700 text-sm font-semibold mb-2" for="color"> Color </label>
            <select name="color" id="color" formControlName="color"
            class="text-sm appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-100 leading-tight focus:outline-none focus:shadow-outline h-10">
              <option value="0">Color</option>
              <option [ngValue]="item.id" *ngFor="let item of listColores">{{item.descripcion}}</option>
            </select>
          </div>
          <div class="mb-4 mt-6">
            <label class="block text-gray-700 text-sm font-semibold mb-2" for="talla"> Talla </label>
            <select
              name="tallas" id="talla" formControlName="talla"
              class="text-sm appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-100 leading-tight focus:outline-none focus:shadow-outline h-10">
              <option value="0">Talla</option>
              <option [ngValue]="item.id" *ngFor="let item of listTallas">{{item.nombreTalla}}</option>
            </select>
          </div>
          <div class="mb-4 mt-6">
            <label class="block text-gray-700 text-sm font-semibold mb-2" for="stock"> Stock </label>
              <input
                class="text-sm appearance-none rounded w-full py-2 px-3 text-gray-700 bg-gray-100 leading-tight focus:outline-none focus:shadow-outline h-10"
                id="stock"
                type="number" min="1" step="any"
                placeholder="Stock"
                formControlName="stock"
              />
          </div>         
         <div class="mb-6 mt-6">
            <label class="block text-gray-700 text-sm font-semibold mb-2" for="tipo"> Seleccione fotos </label>
            <input type="file" (change)="selectFile($event)" name="fotos producto[]" multiple>
          </div>         
          <div class="flex w-full mt-6">
            <button
              class="w-full hover:bg-grey-900 text-white text-sm py-2 px-4  rounded focus:outline-none focus:shadow-outline h-100"
              type="submit"
              style="background-color: #8a3c8a;"
            >
            Asignar características
            </button>
            
          </div>
          <div class="container-img mt-6" >
            <a class="logo" ><img src="https://www.ocu.org/-/media/ocu/images/home/salud/bienestar/toxicos-ropa.png?rev=c2de303f-8383-4503-a9f7-e9ed6c955fa0&mw=480&hash=293450C25E79B53148445CA2AB6D40EC"  style="height: 250px; width: 300px;"/></a>
          </div>
        </form>  
      </div>
    
