body {
    font-family: "Karla", sans-serif;
    background-color: #ffffff;
    min-height: 100vh;
}

/*Márgenes del cuadro*/
.brand-wrapper { 
    margin-bottom: 50px; 
}

/*Forma de tarjeta*/  
.register-card 
{
    border: 0;
    border-radius: 27.5px;
    overflow: hidden;
    background-color: #e9f6fc; 
}

/*Formato para la imagen*/
.register-card-img {
    border-radius: 0;
    position: absolute;
    width: 80%;
    height: 80%;
    -o-object-fit: cover;
    object-fit: cover; 
}

/*Borde para la tarjeta*/
.register-card .card-body {
    padding: 85px 60px 60px; 
}

/*Subtítulo*/
.register-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px; 
}

/*Título*/
.register-card-title {
    font-size: 35px;
    color: #043845;
    font-weight: normal;
    margin-bottom: 23px; 
}

/*Labels*/
.register-card .form-control {
    border: 1px solid #070645;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 16px;
    line-height: 15;
    font-weight: normal; 
}

/*Boton*/
.register-card .register-btn { 
    padding: 13px 20px 12px;
    background-color: #043845;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px; 
}

/*Cuando el cursor se pone en el botón de register*/
.register-card .register-btn:hover {
    border: 1px solid #070645;
    background-color: transparent;
    color: #043845; 
}

/* Registre aquí*/
.register-card-footer-text { 
    font-size: 16px;
    color: #0d2366;
    margin-bottom: 60px; 
}

@media (max-width: 767px) {
    .register-card-footer-text {
        margin-bottom: 24px; 
    } 
}

.register-card-footer-nav a {
    font-size: 14px;
    color: #7d93aa; 
}
    