<ll-product-hero></ll-product-hero>
<div class="ll-search pb-6">
  <div class="container">
    <div class="border overflow-hidden sm:rounded-md p-5">
      <div class="mb-3">
        <div class="flex justify-between flex-wrap">
          <h4>Búsqueda</h4>
          <button (click)="advanceSearchExpanded = !advanceSearchExpanded" mat-button><mat-icon>tune</mat-icon> Busquedas</button>
        </div>
      </div>
      <mat-expansion-panel [expanded]="advanceSearchExpanded">
        <form [formGroup]="userForm" (ngSubmit)="aplicarBusqueda()">

          <div class=" mt-12 example-full-widt row">
            <div class="col">
              <mat-form-field  [style.width.px]=350  class="example-full-width" appearance="fill">
                <mat-label>Nombre de producto</mat-label>
                <input matInput placeholder="Ingrese el nombre de producto" name="pruductName"
                       id="pruductName"
                       (input)="changeInput()"
                       formControlName="pruductName">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field [style.width.px]=350 appearance="fill">
                <mat-label>Marca</mat-label>
                <input matInput placeholder="Ingrese la marca de producto"
                       name="productMarca"
                       id="productMarca"
                       (input)="changeInput()"
                       formControlName="productMarca">
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>

            <div class="col">
              <div class="ml-4 mt-2 col-span-6 mb-3">
                <button type="submit"  mat-flat-button color="accent"><mat-icon>search</mat-icon>Realizar Busquedas</button>
              </div>
            </div>
          </div>
          <div class="grid grid-cols-6 gap-6 mt-4">
          </div>
        </form>
      </mat-expansion-panel>

      <div class="mb-3">
        <div class="flex justify-between flex-wrap">
          <h4></h4>
          <button (click)="advanceFilterExpanded = !advanceFilterExpanded" mat-button><mat-icon>tune</mat-icon> Filtros</button>
        </div>
      </div>
      <mat-expansion-panel [expanded]="advanceFilterExpanded">
        <form [formGroup]="filterForm" (ngSubmit)="aplicarFiltro()">

          <div class="ml-12 mt-12 example-full-widt row">
            <div class="col">
              <mat-form-field [style.width.px]=350 appearance="fill">
                <mat-label>Categorias</mat-label>
                <mat-select matNativeControl  formControlName="categoria">
                  <mat-option *ngFor="let item of listCategories" [value]="item.id">{{item.categoria}}</mat-option>
                </mat-select>
                <mat-hint [ngStyle]="{color: hintColor}">
                  <div *ngIf="validHint">*Debe llenar este campo</div>
                </mat-hint>
              </mat-form-field>

            </div>
            <div class="col">
              <div class="ml-4 mt-2 col-span-6 mb-3">
                <button type="submit"  mat-flat-button color="accent"><mat-icon>search</mat-icon>Aplicar Filtros</button>
              </div>
            </div>
          </div>


          <div class="grid grid-cols-6 gap-6 mt-4">


          </div>
        </form>
      </mat-expansion-panel>


    </div>
  </div>
</div>
<div class="ll-products-area mb-24">
  <div class="container">
    <div class="grid grid-cols-12 gap-6 xxl:gap-8" *ngIf="isLoaded">
      <div *ngFor="let product of obsProducts | async" class="col-span-12 md:col-span-6 xl:col-span-4">
        <mat-card class="ll-product">
          <img mat-card-image [src]="product?.image" alt="{{ product.nombreProducto }}" style="width: 550px; height:250px;; margin: 0 0 20px" />
          <mat-card-content class="flex">
            <div class="flex-grow pl-3">
              <h4 class="ll-product__creator">{{ product?.marca }}</h4>
              <h2 class="ll-product__name">
                <button (click)="irADetalleProducto(product.idProducto)">{{ product.nombreProducto }}</button>
              </h2>
              <div class="flex justify-between mt-5">
                <div class="ll-product__price-label">Precio:</div>
                <div class="ll-product__price text-accent font-bold">Bs. {{ product.precio }}</div>
              </div>
            </div>
          </mat-card-content>
          <mat-card-actions class="ll-product__action flex justify-between">
            <div class="flex-1 text-center flex items-center justify-center">
              <button class="btn" (click)=addtocart(product)><img src="https://indyme.com/wp-content/uploads/2020/11/shopping-cart-icon.png" height ="30px" width="30px" /></button>
            </div>
            <div class="flex-1 text-center">
              <button [routerLink]="['/products', product.idProducto]" mat-raised-button color="warn" class="px-4">Información del producto</button>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
    <mat-paginator [pageSizeOptions]="[3, 6, 12, 24]"></mat-paginator>
    <div *ngIf="!isLoaded">
      <ngx-skeleton-loader
        count="9"
        appearance="circle"
        [theme]="{
          'border-radius': '5px',
          height: '280px',
          width: 'calc(33% - 10px)'
        }"
      ></ngx-skeleton-loader>
    </div>
  </div>
</div>

<div class="ll-find-more mt-10 mb-36">
  <div class="container rounded-md">
    <h2 class="ll-find-more__heading" style="text-align:center">No encuentras algo que guste? Tenemos los siguientes productos en oferta</h2> <br>

      <div class="grid grid-cols-12 gap-6 xxl:gap-8" *ngIf="isLoaded">
        <div *ngFor="let product of products" class="col-span-12 md:col-span-6 xl:col-span-4">
          <mat-card class="ll-product">
            <img mat-card-image [src]="product.image" alt="{{ product.nombreProducto }}" style="width: 550px; height:250px;; margin: 0 0 20px" />
            <mat-card-content class="flex">
              <div class="flex-grow pl-3">
                <h2 class="ll-product__name">
                  <a [routerLink]="['/products', product.idProducto]">{{ product.marca }}</a>
                </h2>
                <div class="flex justify-between mt-5">
                  <div class="ll-product__price-label">Precio:</div>
                  <div class="ll-product__price text-accent font-bold">Bs. {{ product.precio }}</div>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions class="ll-product__action flex justify-between">
              <div class="flex-1 text-center flex items-center justify-center">
                {{ product.tallas }}
              </div>
              <div class="flex-1 text-center">
                <a [routerLink]="['/products', product.idProducto]" mat-raised-button color="warn" class="px-4">Información del producto</a>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>


  </div>
</div>
